In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=c4bc630b0f4da6483040a0aaf543de3e593c4da93d1605156953914ba7b76e80
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("linear_regression_model").getOrCreate()

In [ ]:
real_estate = spark.read.option("inferSchema","true").csv("/content/Real estate.csv",header=True)

In [ ]:
real_estate.printSchema()

root
 |-- No: integer (nullable = true)
 |-- X1 transaction date: double (nullable = true)
 |-- X2 house age: double (nullable = true)
 |-- X3 distance to the nearest MRT station: double (nullable = true)
 |-- X4 number of convenience stores: integer (nullable = true)
 |-- X5 latitude: double (nullable = true)
 |-- X6 longitude: double (nullable = true)
 |-- Y house price of unit area: double (nullable = true)

In [ ]:
real_estate.show(2)

+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
| No|X1 transaction date|X2 house age|X3 distance to the nearest MRT station|X4 number of convenience stores|X5 latitude|X6 longitude|Y house price of unit area|
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
|  1|           2012.917|        32.0|                              84.87882|                             10|   24.98298|   121.54024|                      37.9|
|  2|           2012.917|        19.5|                              306.5947|                              9|   24.98034|   121.53951|                      42.2|
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
only showing top 2 rows

In [ ]:
real_estate.describe().show()

+-------+-----------------+-------------------+------------------+--------------------------------------+-------------------------------+--------------------+--------------------+--------------------------+
|summary|               No|X1 transaction date|      X2 house age|X3 distance to the nearest MRT station|X4 number of convenience stores|         X5 latitude|        X6 longitude|Y house price of unit area|
+-------+-----------------+-------------------+------------------+--------------------------------------+-------------------------------+--------------------+--------------------+--------------------------+
|  count|              414|                414|               414|                                   414|                            414|                 414|                 414|                       414|
|   mean|            207.5| 2013.1489710144933| 17.71256038647343|                    1083.8856889130436|              4.094202898550725|  24.969030072463745|  121.53336108695667|         37.98019323671498|
| stddev|119.6557562342907| 0.2819672402629999|11.392484533242524|                     1262.109595407851|             2.9455618056636177|0.012410196590450208|0.015347183004592374|        13.606487697735316|
|    min|                1|           2012.667|               0.0|                              23.38284|                              0|            24.93207|           121.47353|                       7.6|
|    max|              414|           2013.583|              43.8|                              6488.021|                             10|            25.01459|           121.56627|                     117.5|
+-------+-----------------+-------------------+------------------+--------------------------------------+-------------------------------+--------------------+--------------------+--------------------------+

In [ ]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols =[
    "X1 transaction date",
    "X2 house age",
    "X3 distance to the nearest MRT station",
    "X4 number of convenience stores",
    "X5 latitude",
    "X6 longitude"],
    outputCol = "features")

In [ ]:
data_set = assembler.transform(real_estate)
data_set.select(["features","Y house price of unit area"]).show(2)

+--------------------+--------------------------+
|            features|Y house price of unit area|
+--------------------+--------------------------+
|[2012.917,32.0,84...|                      37.9|
|[2012.917,19.5,30...|                      42.2|
+--------------------+--------------------------+
only showing top 2 rows

In [ ]:
train_data,test_data = data_set.randomSplit([0.7,0.3])
train_data.show(truncate=False)

+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+------------------------------------------------+
|No |X1 transaction date|X2 house age|X3 distance to the nearest MRT station|X4 number of convenience stores|X5 latitude|X6 longitude|Y house price of unit area|features                                        |
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+------------------------------------------------+
|1  |2012.917           |32.0        |84.87882                              |10                             |24.98298   |121.54024   |37.9                      |[2012.917,32.0,84.87882,10.0,24.98298,121.54024]|
|3  |2013.583           |13.3        |561.9845                              |5                              |24.98746   |121.54391   |47.3                      |[2013.583,13.3,561.9845,5.0,24.98746,121.54391] |
|4  |2013.5             |13.3        |561.9845                              |5                              |24.98746   |121.54391   |54.8                      |[2013.5,13.3,561.9845,5.0,24.98746,121.54391]   |
|7  |2012.667           |34.5        |623.4731                              |7                              |24.97933   |121.53642   |40.3                      |[2012.667,34.5,623.4731,7.0,24.97933,121.53642] |
|8  |2013.417           |20.3        |287.6025                              |6                              |24.98042   |121.54228   |46.7                      |[2013.417,20.3,287.6025,6.0,24.98042,121.54228] |
|10 |2013.417           |17.9        |1783.18                               |3                              |24.96731   |121.51486   |22.1                      |[2013.417,17.9,1783.18,3.0,24.96731,121.51486]  |
|11 |2013.083           |34.8        |405.2134                              |1                              |24.97349   |121.53372   |41.4                      |[2013.083,34.8,405.2134,1.0,24.97349,121.53372] |
|12 |2013.333           |6.3         |90.45606                              |9                              |24.97433   |121.5431    |58.1                      |[2013.333,6.3,90.45606,9.0,24.97433,121.5431]   |
|13 |2012.917           |13.0        |492.2313                              |5                              |24.96515   |121.53737   |39.3                      |[2012.917,13.0,492.2313,5.0,24.96515,121.53737] |
|14 |2012.667           |20.4        |2469.645                              |4                              |24.96108   |121.51046   |23.8                      |[2012.667,20.4,2469.645,4.0,24.96108,121.51046] |
|15 |2013.5             |13.2        |1164.838                              |4                              |24.99156   |121.53406   |34.3                      |[2013.5,13.2,1164.838,4.0,24.99156,121.53406]   |
|16 |2013.583           |35.7        |579.2083                              |2                              |24.9824    |121.54619   |50.5                      |[2013.583,35.7,579.2083,2.0,24.9824,121.54619]  |
|17 |2013.25            |0.0         |292.9978                              |6                              |24.97744   |121.54458   |70.1                      |[2013.25,0.0,292.9978,6.0,24.97744,121.54458]   |
|18 |2012.75            |17.7        |350.8515                              |1                              |24.97544   |121.53119   |37.4                      |[2012.75,17.7,350.8515,1.0,24.97544,121.53119]  |
|20 |2012.667           |1.5         |23.38284                              |7                              |24.96772   |121.54102   |47.7                      |[2012.667,1.5,23.38284,7.0,24.96772,121.54102]  |
|21 |2013.417           |4.5         |2275.877                              |3                              |24.96314   |121.51151   |29.3                      |[2013.417,4.5,2275.877,3.0,24.96314,121.51151]  |
|23 |2012.917           |14.7        |1360.139                              |1                              |24.95204   |121.54842   |24.6                      |[2012.917,14.7,1360.139,1.0,24.95204,121.54842] |
|24 |2013.083           |10.1        |279.1726                              |7                              |24.97528   |121.54541   |47.9                      |[2013.083,10.1,279.1726,7.0,24.97528,121.54541] |
|26 |2013.083           |29.3        |1487.868                              |2                              |24.97542   |121.51726   |27.0                      |[2013.083,29.3,1487.868,2.0,24.97542,121.51726] |
|27 |2012.667           |3.1         |383.8624                              |5                              |24.98085   |121.54391   |56.2                      |[2012.667,3.1,383.8624,5.0,24.98085,121.54391]  |
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+------------------------------------------------+
only showing top 20 rows

In [ ]:
test_data.show(truncate=False)

+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+-----------------------------------------------+
|No |X1 transaction date|X2 house age|X3 distance to the nearest MRT station|X4 number of convenience stores|X5 latitude|X6 longitude|Y house price of unit area|features                                       |
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+-----------------------------------------------+
|2  |2012.917           |19.5        |306.5947                              |9                              |24.98034   |121.53951   |42.2                      |[2012.917,19.5,306.5947,9.0,24.98034,121.53951]|
|5  |2012.833           |5.0         |390.5684                              |5                              |24.97937   |121.54245   |43.1                      |[2012.833,5.0,390.5684,5.0,24.97937,121.54245] |
|6  |2012.667           |7.1         |2175.03                               |3                              |24.96305   |121.51254   |32.1                      |[2012.667,7.1,2175.03,3.0,24.96305,121.51254]  |
|9  |2013.5             |31.7        |5512.038                              |1                              |24.95095   |121.48458   |18.8                      |[2013.5,31.7,5512.038,1.0,24.95095,121.48458]  |
|19 |2013.417           |16.9        |368.1363                              |8                              |24.9675    |121.54451   |42.3                      |[2013.417,16.9,368.1363,8.0,24.9675,121.54451] |
|22 |2013.417           |10.5        |279.1726                              |7                              |24.97528   |121.54541   |51.6                      |[2013.417,10.5,279.1726,7.0,24.97528,121.54541]|
|25 |2013.0             |39.6        |480.6977                              |4                              |24.97353   |121.53885   |38.8                      |[2013.0,39.6,480.6977,4.0,24.97353,121.53885]  |
|28 |2013.25            |10.4        |276.449                               |5                              |24.95593   |121.53913   |33.6                      |[2013.25,10.4,276.449,5.0,24.95593,121.53913]  |
|29 |2013.5             |19.2        |557.478                               |4                              |24.97419   |121.53797   |47.0                      |[2013.5,19.2,557.478,4.0,24.97419,121.53797]   |
|30 |2013.083           |7.1         |451.2438                              |5                              |24.97563   |121.54694   |57.1                      |[2013.083,7.1,451.2438,5.0,24.97563,121.54694] |
|34 |2013.25            |16.5        |323.655                               |6                              |24.97841   |121.54281   |49.3                      |[2013.25,16.5,323.655,6.0,24.97841,121.54281]  |
|38 |2013.167           |12.0        |1360.139                              |1                              |24.95204   |121.54842   |25.3                      |[2013.167,12.0,1360.139,1.0,24.95204,121.54842]|
|39 |2012.667           |3.1         |577.9615                              |6                              |24.97201   |121.54722   |47.7                      |[2012.667,3.1,577.9615,6.0,24.97201,121.54722] |
|42 |2013.5             |16.8        |4066.587                              |0                              |24.94297   |121.50342   |18.2                      |[2013.5,16.8,4066.587,0.0,24.94297,121.50342]  |
|46 |2013.083           |36.6        |488.8193                              |8                              |24.97015   |121.54494   |38.3                      |[2013.083,36.6,488.8193,8.0,24.97015,121.54494]|
|48 |2013.583           |35.9        |640.7391                              |3                              |24.97563   |121.53715   |61.5                      |[2013.583,35.9,640.7391,3.0,24.97563,121.53715]|
|49 |2013.417           |24.2        |4605.749                              |0                              |24.94684   |121.49578   |13.4                      |[2013.417,24.2,4605.749,0.0,24.94684,121.49578]|
|55 |2013.083           |16.1        |289.3248                              |5                              |24.98203   |121.54348   |51.7                      |[2013.083,16.1,289.3248,5.0,24.98203,121.54348]|
|59 |2013.5             |30.3        |4510.359                              |1                              |24.94925   |121.49542   |22.6                      |[2013.5,30.3,4510.359,1.0,24.94925,121.49542]  |
|60 |2013.083           |13.3        |336.0532                              |5                              |24.95776   |121.53438   |42.4                      |[2013.083,13.3,336.0532,5.0,24.95776,121.53438]|
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+-----------------------------------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol="Y house price of unit area")
lrmodel = lr.fit(train_data)

In [ ]:
test_stats = lrmodel.evaluate(test_data)
print(f"RMSE: {test_stats.rootMeanSquaredError}")
print(f"R2: {test_stats.r2}")
print(f"MSE: {test_stats.meanSquaredError}")

RMSE: 7.917835894061269
R2: 0.6553717938761325
MSE: 62.69212524528501